*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container form{
    padding: 25px;
    background: #333;
    border-radius: 10px;
    box-shadow: 3px 5px 8px #333;
}
.container form input{
    height: 60px;
    width: 60px;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 1px 2px 3px rgba(rgb(255, 255, 255), rgb(217, 217, 217), rgb(99, 99, 99), 0.1);
    border: none;
    outline: 0;
    margin: 5px;
    font-size: 20px;
}
.container .display{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.container .display input{
    text-align: right;
    flex:1;
    background: transparent;
    color: white;
    font-size: 36px;
    margin-right: 30px;
    border-bottom: dotted whitesmoke;
    border-radius: 10px;
    text-align: center;
}
.container form .equal{
    width: 210px;
    border-radius: 10px;
}
.container form .signs{
    background: #ffc400;
}

@media (max-width:380px){
    .container{
        height: 700px;
        width: 350px;
        margin-top: 40px;
    }
    .container form{
        margin-top: 40px;
    }
    .container .display input{
    text-align: right;
    flex:1;
    background: transparent;
    color: white;
    font-size: 36px;
    margin-right: 30px;
    border-bottom: dotted whitesmoke;
    border-radius: 10px;
    text-align: center;
}

}
